/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/database/testing.sqlite

# Ignore build files.
/public/js
/public/css
/public/fonts
/public/mix-manifest.json
