$enable-rounded: false;

// Body
$body-bg: rgba(255, 77, 0, 0.05);

// Borders
$border-color: rgba(255, 76, 0, 0.15);
$list-group-border: $border-color;
$navbar-default-border: $border-color;
$panel-default-border: $border-color;
$panel-inner-border: $border-color;
$card-border-color: $border-color;

// Brands
$brand-primary: #d13e00;
$brand-info: #bde7ff;
$brand-success: #1ad486;
$brand-warning: #cbb956;
$brand-danger: #bf001b;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
